.body{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.answer{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
}

.results{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chars{
    width: 80%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.char-card{
    width: 25%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo{
    width: 70%;
    height: 70%;
    display: flex;
    object-fit: contain;
    border-radius: 20px;
}

.input{
    margin: 15px;
}

.info{
    width: 30%;
    height: fit-content;
}

.pages{
    width: 40%;
    display: flex;
    justify-content: space-around;
}