.App{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchInput{
    border: 0px;
    border-bottom: 3px solid #282828;
    width: 100%;
    font-size: x-large;
}

.searchInput:focus {
    outline: none;
}

.rickIcon{
    width: 30%;
    object-fit: contain;
}